// Place all the styles related to the postcodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #fcfefc;

}
div#header{
  height: 110px;
  margin: 10px;
}
#logo{
  float: left;
}
form{
  margin-left:20px;
  margin-top:42px;
  float: left;
  background-color: #FCFEFC;
}
input#search{
  width:340px;
  height:22px;
  font-size: 22px;
  margin:0;
}
input[type="submit"]{
  font-size: 22px;
  margin: 0;
}    
table{
  clear: both;
  margin: 10px;
}
td{
  padding: 10px;
  border: 1px solid gray;
  border-collapse: collapse;
  letter-spacing: 0.05em;
}
nav.pagination{
  margin: 10px;
  padding-top:10px;
  font-size: 16px;
}
p{
  clear:both;
margin: 10px;
padding-top: 20px;
}
span.strong{
  background-color: yellow;
  padding:0.1em;
}
