<!DOCTYPE html>
<html>
<head>
  <title>Kenall2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr>
<p>Copyright © Scimpr Blog, All rights reserved.</p>
</body>
</html>
