<!DOCTYPE html>
<html>
<head>
  <title>Kenall2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id ="main">
<%= yield %>
</div>

<hr>
<p>Copyright © <a href="http://blog.scimpr.com/"></a><href>Scimpr Blog</href>, All rights reserved.</p>
</body>
</html>
